<!doctype html>
<html lang="en" style="height: 100%">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
        .notes_span{
            font-size: 1.2rem;
            font-weight: 200;
        }
        .model_name{
            margin-top: 1rem; 
            width: 100%; 
            padding: 0.5rem; 
            margin-left: -15px;
        }
        .scalars_chart{
            width: 30rem; 
            height:25rem; 
            /* margin: 1rem;  */
            float: left;
        }
    </style>
  </head>

  <body style="height:100%">
    <div class="container-fluid" style="height: 100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Torcheras</a>
        </nav>
        
        <!-- detail -->
        <div class="row">
            <div class="flex-xl-nowrap col-xl-2 col-md-3" style="height: calc(100vh - 4rem); border-right: 1px solid rgb(0,0,0,0.1); position: sticky">
                <!-- search -->
                <form class="row" style="width: 100%; height:5rem; position: relative; padding: 1rem 15px; margin-left: -15px; border-bottom: 1px solid rgba(0,0,0,.05)">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="width:100%">
                </form>
    
                <!-- model names -->
                <div>
                    
                    {% for model_name in model_list %}
                    <div class="col-auto my-1">                   
                        <button type="button" class="btn btn-success model_name">{{model_name}}</button>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
    
            <!-- model detail -->
            <div class="col-xl-10 col-md-9">
                <!-- notes -->
                <div id="notes" class="row" style="margin-top: 1rem">
                    <div id="detail" class="col-md-6 col-sm-12">
                        <h4>Time: <span id="detail_time" class="notes_span"></span></h4>
                        <h4>Description: <span id="detail_description" class="notes_span"></span></h4>
                    </div>
                    <div id="detail_optimizer" class="col-md-6 col-sm-12"></div>
                </div>
                
                <!-- tabs -->
                <div class="card text-center" style="margin-top: 1rem">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                                <a class="nav-link active" id="scalars-tab" data-toggle="tab" href="#scalars" role="tab" aria-controls="scalars" aria-selected="true">Scalars</a>
                        </li>
                    </div>
                    <div class="tab-content" id="scalars-content">
                        <div class="tab-pane fade show active" id="scalars" role="tabpanel" aria-labelledby="scalars-tab">
                            <div>
                                <!-- Train scalars -->
                                <p>
                                    <a class="btn btn-primary" data-toggle="collapse" href="#train_scalars" role="button" aria-expanded="false" aria-controls="train_scalars" style="width:95%; margin: 1rem;">
                                        Train
                                    </a>
                                </p>
                                <div class="collapse show" id="train_scalars">
                                    <div id="train_scalars_card" class="" style="border: none; margin-left: 2rem">
                                    </div>
                                </div>
                            </div>
                            <div >
                                <!-- Test scalars -->
                                <p>
                                    <a class="btn btn-primary" data-toggle="collapse" href="#test_scalars" role="button" aria-expanded="false" aria-controls="test_scalars" style="width:95%; margin: 1rem">
                                        Test
                                    </a>
                                </p>
                                <div class="collapse show" id="test_scalars">
                                    <div id="test_scalars_card" class="" style="border: none; margin-left: 2rem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>    

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/static/echarts.min.js" ></script>

    <script>

        var to_html = function(title, text){
            return '<h5>' + title + '<span class="notes_span">' + text + '</span> </h5>'
        }

        var to_charts = function(mode, title, metric_data){
            var epochs = []
            for (var iter = 1; iter <= metric_data.length; ++iter)
                epochs.push(iter)

            if (title[0] == ''){
                var title_str = mode + '/' + title[1]
            }
            else{
                var title_str = mode + '/' + title[0] + '/' + title[1]
            }
            var option = {
                title:{
                    text: title_str
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: epochs
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: metric_data,
                    type: 'line',
                    smooth: true,

                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                }],
                tooltip: {
                    trigger: 'axis',
                    formatter: function (params) {
                        return params[0].data
                    }
                }
            }
            return option
        }

        $('.model_name').click(function(e){

            model_name = $(this).text()
            
            $.post('/notes', {model_name: model_name}, function(data){
                data = JSON.parse(data)

                console.log(data)

                // empty
                $("#detail").empty()
                $("#detail_optimizer").empty()

                // time
                var time = model_name.split('_')
                $("#detail").append(to_html('Time: ', time[0] + '-' + time[1] + '-' + time[2] + ' '+ time[3] + ':' + time[4] + ':' + time[5]))

                // description
                $("#detail").append(to_html('Description: ', data.description))

                // multi tasks
                if (data.multi_tasks.length > 0){
                    var multi_tasks_str = ''
                    for (var i in data.multi_tasks){
                        multi_tasks_str = multi_tasks_str + data.multi_tasks[i] + ', '
                    }
                    multi_tasks_str = multi_tasks_str.slice(0,-2)

                    $("#detail").append(to_html('Multi tasks: ', multi_tasks_str))
                }

                // optimizer
                $("#detail_optimizer").append(to_html('Optimizer: ', data.optimizer))
                // params
                for (var k in data.params){
                    $("#detail_optimizer").append(to_html(k + ': ', data.params[k]))
                }
                
                // charts
                $("#train_scalars_card").empty()
                $("#test_scalars_card").empty()
                
                // charts data
                var train_charts_data = [[]]
                var test_charts_data = [[]]

                // charts title
                var titles = [['', 'loss']]

                // train loss
                $("#train_scalars_card").append('<div class="scalars_chart"><div style="width:100%;height:100%" id="train_loss"></div></div>')
                // test loss
                $("#test_scalars_card").append('<div class="scalars_chart"><div style="width:100%;height:100%" id="test_loss"></div></div>')

                var train_charts = [echarts.init(document.getElementById('train_loss'))]
                var test_charts  = [echarts.init(document.getElementById('test_loss'))]
                
                for (var i in data.multi_tasks){
                    for (var j = 1; j < data.metrics.length; ++j){
                        var output = data.multi_tasks[i]
                        var metric = data.metrics[j]

                        // get chart width
                        outer_width = $("#train_scalars_card").width()

                        // train html
                        $("#train_scalars_card").append('<div class="scalars_chart"><div style="width:100%;height:100%" id="train_' + output + '_' + metric + '"></div></div>')
                        // test html
                        $("#test_scalars_card").append('<div class="scalars_chart"><div style="width:100%;height:100%" id="test_' + output + '_' + metric + '"></div></div>')

                        // charts
                        train_charts.push(echarts.init(document.getElementById('train_' + output + '_' + metric)))
                        test_charts.push(echarts.init(document.getElementById('test_' + output + '_' + metric)))

                        // charts data
                        train_charts_data.push([])
                        test_charts_data.push([])

                        // charts title
                        titles.push([output, metric])
                    }
                }
                
                for (var i in data.epochs){
                    // train data
                    train_data = data.epochs[i][0]
                    for (var j in train_data){
                        train_charts_data[j].push(train_data[j].toFixed(5))
                    }
                    // test data
                    test_data = data.epochs[i][1]
                    for (var j in test_data){
                        test_charts_data[j].push(test_data[j].toFixed(5))
                    }
                }
                
                // train charts
                for (var i in train_charts){
                    var option = to_charts('train', titles[i], train_charts_data[i])
                    train_charts[i].setOption(option)
                }
                // test charts
                for (var i in test_charts){
                    var option = to_charts('test', titles[i], test_charts_data[i])
                    test_charts[i].setOption(option)
                }

            })

        })

    </script>

</body>
</html>